@page
@model JGR_WGU_Capstone.Pages.Maintenances.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Maintenance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Maintenance.Notes" class="control-label"></label>
                <input asp-for="Maintenance.Notes" class="form-control" />
                <span asp-validation-for="Maintenance.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maintenance.MaintenanceDate" class="control-label"></label>
                <input asp-for="Maintenance.MaintenanceDate" class="form-control" />
                <span asp-validation-for="Maintenance.MaintenanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maintenance.ComputerID" class="control-label"></label>
                <select asp-for="Maintenance.ComputerID" class ="form-control" asp-items="ViewBag.ComputerID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
