@page
@model JGR_WGU_Capstone.Pages.Maintenances.CreateModel

@{
    ViewData["Title"] = "Create";
}

<span class="font-weight-bold" style="font-size: x-large;">Create Maintenance</span>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Maintenance.Notes" class="col-sm-3 col-form-label font-weight-bold"></label>
                <div class="col-sm-9">
                    <input asp-for="Maintenance.Notes" class="form-control" />
                </div>
                <span asp-validation-for="Maintenance.Notes" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Maintenance.MaintenanceDate" class="col-sm-3 col-form-label font-weight-bold"></label>
                <div class="col-sm-9">
                    <input asp-for="Maintenance.MaintenanceDate" class="form-control" />
                </div>
                <span asp-validation-for="Maintenance.MaintenanceDate" class="text-danger"></span>
            </div>
            <div class="form-group row" hidden>
                <label asp-for="Maintenance.ComputerID" class="col-sm-3 col-form-label font-weight-bold"></label>
                <div class="col-sm-9">
                    <input asp-for="Maintenance.ComputerID" class="form-control" value="@Model.PassedComputerID" />
                </div>
                <span asp-validation-for="Maintenance.ComputerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-sm" />
                <a class="btn btn-primary btn-sm" href="javascript:history.back();">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
