@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This website is a simple Computer Inventory and Maintenance Tracker created by Joshua Ramczyk.
    </p>
    <p>
        If you are an authorized user, please login. 
    </p>
</div>
